{% extends 'base.html' %}

{% block head %}
<title>AIOps</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">AIOps Log collector</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no logs. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Log</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Log">
        </form>
    </div>
</div>
{% endblock %}